.navbar_container {
    width: inherit;
    box-sizing: border-box;
    justify-content: space-between;

    span {
        font-family: 'impact';
    }
    .logo {
        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;

            background-color: #2165d1;
            border-radius: 15%;

            span {
                text-align: center;
                font-family: 'Red Hat Display';
                color: white;
            }
        }
    }

    .block_2 {
        justify-content: space-between;

        button {
            border-width: 1px;
            border-radius: 30px;
            border-style: solid;

            background-color: #ffffff;
        }
    }

    .searchButton {
        justify-content: space-between;

        width: 34.8vw;
        min-width: 150px;

        height: 48px;
        border-radius: 20px;

        background-color: #ededf0;

        input {
            font-family: 'inter';

            width: 100%;
            border: none;
            background-color: transparent;
        }
    }
}
